

{erl_opts, [debug_info,
           {parse_transform, lager_transform}]}.
{deps, [
        {uuid, "1.5.1", {pkg, uuid_erl}},
        {erldyn, "0.7.2"},
        {erlware_commons, "0.20.0"},
        {jwalk, "1.1.2"},
        {lager, "3.0.2"}
       ]
}.
{relx, [{release, {'nook', "0.1.0"},
         ['nook',
          erlware_commons,
          lager,
          kernel,
	  stdlib,
	  sasl, 
          ssl,
          uuid,
          erldyn,
          jwalk,
	  {observer,load},
	  {wx, load},
	  {runtime_tools, load}
         ]},
        {dev_mode, true},
        {include_erts, false},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {extended_start_script, true}
        ]
}.
